.intro__title{
    font-family: 'KyivType Sans';
    font-size: 128px;
    line-height: 90px;
    font-weight: 900;
    margin: 0 0 82px;
    padding-top: 82px;
    padding-left: 10px;
    color: white;
}